body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;

  .active {
    color: rgb(243, 243, 157);
  }
  .headerArea {
    display: flex;
    gap: 0.4rem;
    margin-top: 2rem;
    img {
      height: 1.5rem;
      border-radius: 0.2rem;
      margin-top: 0.3rem;
    }
  }
  .pageInfo {
    .row {
      .content {
        .jobs {
          width: 55%;
        }
        .skills {
          width: 40%;
        }
      }
    }
  }
  .loading {
    height: 75vh;
    img {
      position: relative;
      width: 15rem;
      height: 15rem;
    }
  }
  animation: fadeIn 2.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
