body {
  background-color: #333;
  color: #ccc;
  font-family: sans-serif;
  padding: 0 1rem;
  .active {
    color: rgb(243, 243, 157);
  }
  .headerArea {
    display: flex;
    gap: 0.4rem;
    margin-top: 2rem;
    img {
      height: 1.5rem;
      border-radius: 0.2rem;
      margin-top: 0.3rem;
    }
  }
  .sass-error-area {
    width: 18rem;
  }
}
